.flag {

    position: relative;
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    cursor: pointer;
    /* border: 2px solid transparent; */
    box-sizing: border-box;
    width: 2rem;

}

/* .flag[current=true] {

    border: 2px solid lime;

} */


.french {
    aspect-ratio: 3/2;
}

.uk {
    aspect-ratio: 5/3;
}

.tokipona {
    aspect-ratio: 3/2;
}