body {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: auto;

    overflow: hidden;

}

* {
    vertical-align: middle;
    font-family: sans-serif;
}

button, a {
    cursor: pointer !important;
}

canvas {
    z-index: -1;
}

/* Palette CSS */





#resize {

    position: absolute;

    width: 10rem;
    height: fit-content;

    background: white;
    border: 4px solid black;
    border-radius: .5rem;
    padding: .5rem;


}

#resize input[type=number] {

    border: none;
    border-bottom: 2px solid black;
    width: 4rem;

}

#resize>div:last-child {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;

    margin-top: .5rem;

}