body {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: auto;

    overflow: hidden;

}

* {
    vertical-align: middle;
    font-family: sans-serif;
}

#app {

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    gap: 1rem;

}

#tools, canvas, #palette {

    flex: 1;

}

#tools {

    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#tools>* {

    display: flex;

}

.tool {
    display: inline;
}

.tool>input[type=radio], .tool>input[type=checkbox] {

    display: none;

}

.tool>input[type=radio]:checked+label {

    border-color: lightpink;

}

.tool>input[type=checkbox]:checked+label {

    border-color: lime;

}

.tool>label {

    display: block;

    width: 3rem;
    height: 3rem;

    margin: .25rem;

    box-sizing: border-box;
    border: 4px solid black;
    border-radius: .5rem;

}

/* Palette CSS */

#palette {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;

    width: 15rem;

}

#palette>* {

    width: 100%;

    box-sizing: border-box;
    border: 4px solid black;
    border-radius: .5rem;
    padding: .25rem;
}

/* Color picker */

#colorPicker {

    display: flex;

    flex-direction: column;
    text-align: center;

}

#colorPicker input[type=color] {

    display: block;
    margin: auto;
    width: 100%;

}

#colorPicker input[type=number] {

    display: inline-block;

    width: 3rem;

    border: none;
    border-bottom: 2px solid black;

}

#alpha {
    text-align: center;
}

#colorPicker input[type=range] {
    text-align: center;
    width: 80%;
    margin: auto;
}

#colorPreview {

    text-align: center;
    background-color: attr(back);

    margin: .5rem;

}

#colorPreviewPatch {

    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    border-radius: .5rem;


}

/* Current Colors */

#currentColors, #savedColors {

    height: 30vh;

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    align-items: flex-start;
    align-content: flex-start;

    overflow-y: scroll;
    padding: .5rem;
}

#currentColors>div, #savedColors>div {

    display: flex;
    width: 2rem;
    height: 2rem;

    position: relative;

    justify-content: center;
    align-items: center;
    border: 3px solid black;

    text-align: center;
    border-radius: .5rem;

    cursor: pointer;

    background: linear-gradient(to bottom right, white 0%, white 50%, black 50%, black 100%);

}


/* Saved colors */

#savedColors>div>.remove {

    position: absolute;
    top: -.3rem;
    right: -.3rem;
    background-color: red;

    border: 1px solid black;
    height: .7rem;
    width: .7rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



#resize {

    position: absolute;

    width: 10rem;
    height: fit-content;

    background: white;
    border: 4px solid black;
    border-radius: .5rem;
    padding: .5rem;


}

#resize input[type=number] {

    border: none;
    border-bottom: 2px solid black;
    width: 4rem;

}

#resize>div:last-child {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;

    margin-top: .5rem;

}


#files {

    position: absolute;

    width: 30rem;
    height: 10rem;
    height: fit-content;

    background: white;
    border: 4px solid black;
    border-radius: .5rem;
    padding: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}

#files>* {

    display: block;
    width: fit-content;

    text-align: center;

}