#pen-tool {
    grid-area: pen;

    background: url('../res/images/Pen_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#eraser-tool {
    grid-area: eraser;

    background: url('../res/images/Eraser_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#line-tool+label {
    background: url('../res/images/Line_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#rectangle-tool+label {
    background: url('../res/images/Rectangle_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#select-tool+label {
    background: url('../res/images/Select_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#move-tool+label {
    background: url('../res/images/Move_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#undo-tool {
    background: url('../res/images/Undo_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#redo-tool {
    background: url('../res/images/Redo_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#zoomin-tool {
    background: url('../res/images/Zoomin_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#zoomout-tool {
    background: url('../res/images/Zoomout_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#resize-tool {
    background: url('../res/images/Resize_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#grid-tool {
    background: url('../res/images/Grid_19x19.png');
    background-size: cover;
    image-rendering: pixelated;
}

#background-tool {
    background: url('../res/images/Background_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#bucket-tool+label {
    background: url('../res/images/Bucket_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#magic_bucket-tool+label {
    background: url('../res/images/Wand_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#picker-tool+label {
    background: url('../res/images/EyeDropper_18x18.png');
    background-size: cover;
    image-rendering: pixelated;
}

#file-manager {

    background: url('../res/images/FloppyDisk_18x18.png');
    background-size: cover;
    image-rendering: pixelated;

}

#flip-h-tool {

    background: url('../res/images/FlipH_19x19.png');
    background-size: cover;
    image-rendering: pixelated;

}

#flip-v-tool {

    background: url('../res/images/FlipV_19x19.png');
    background-size: cover;
    image-rendering: pixelated;

}