#tools {

    margin: auto;
    display: grid;

    grid-template-areas:
        'pen eraser'
        'background grid';

    gap: .3rem;

    font-size: 2rem;

}

:root {
    --icon-size: 1.5rem;
}

.tool {
    position: relative;

    display: inline-block;

    width: var(--icon-size);
    height: var(--icon-size);
    padding: .2rem;

    cursor: pointer;

}

@media (max-aspect-ratio: 1/1) {

    #tools {
        grid-template-areas:
            'pen background'
            'eraser grid';

    }

    .tool {

        width: calc(min(var(--icon-size), 7vw));
        height: calc(min(var(--icon-size), 7vw));

    }

}