<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelHeart</title>

    <link rel="stylesheet" href="./css/PixelHeart.css">
    <link rel="stylesheet" href="./css/ToolsImages.css">
    <link rel="stylesheet" href="./css/Flags.css">

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/main.js" type="module" defer></script>
</head>

<body>

    <div id="app">

        <div id="tools">
            <div>
                <div class="tool">
                    <input id="pen-tool" type="radio" name="tool" checked>
                    <label for="pen-tool" v-bind:title="lang.pen[language] + ' (p)'"
                        v-on:click="changeTool('pen')"></label>
                </div>
                <div class="tool">
                    <input id="eraser-tool" type="radio" name="tool">
                    <label for="eraser-tool" v-bind:title="lang.eraser[language] + ' (e)'"
                        v-on:click="changeTool('eraser')"></label>
                </div>
            </div>

            <div>
                <div class="tool">
                    <input id="line-tool" type="radio" name="tool">
                    <label for="line-tool" v-bind:title="lang.line[language] + ' (l)'"
                        v-on:click="changeTool('line')"></label>
                </div>
                <div class="tool">
                    <input id="rectangle-tool" type="radio" name="tool">
                    <label for="rectangle-tool" v-bind:title="lang.rectangle[language] + ' (r)'"
                        v-on:click="changeTool('rectangle')"></label>
                </div>

            </div>

            <div>
                <div class="tool">
                    <input id="select-tool" type="radio" name="tool">
                    <label for="select-tool" v-bind:title="lang.select[language] + ' (s)'"
                        v-on:click="changeTool('select')"></label>
                </div>
                <div class="tool">
                    <input id="move-tool" type="radio" name="tool">
                    <label for="move-tool" v-bind:title="lang.move[language] + ' (m)'"
                        v-on:click="changeTool('move')"></label>
                </div>

            </div>

            <div>
                <div class="tool">
                    <label id="undo-tool" v-bind:title="lang.undo[language] + ' (ctrl+z)'" v-on:click="undo"></label>
                </div>
                <div class="tool">
                    <label id="redo-tool" v-bind:title="lang.redo[language] + ' (ctrl+y)'" v-on:click="redo"></label>
                </div>
            </div>

            <div>
                <div class="tool">
                    <label id="zoomin-tool" v-bind:title="lang.zoomin[language]" v-on:click="zoom(1)"></label>
                </div>
                <div class="tool">
                    <label id="zoomout-tool" v-bind:title="lang.zoomout[language]" v-on:click="zoom(-1)"></label>
                </div>
            </div>

            <div>
                <div class="tool">
                    <label v-bind:title="lang.files[language]" v-on:click="displayFiles=true"></label>
                </div>
                <div class="tool">
                    <label id="resize-tool" v-bind:title="lang.resize[language]"
                        v-on:click="displayResize=true"></label>
                </div>
            </div>

            <div>
                <div class="tool">
                    <input id="picker-tool" type="radio" name="tool">
                    <label for="picker-tool" v-bind:title="lang.picker[language] + ' (k)'"
                        v-on:click="changeTool('picker')"></label>
                </div>
                <div class="tool">
                    <input id="background-tool" type="checkbox" v-model="drawBackground">
                    <label for="background-tool" v-bind:title="lang.background[language]"></label>
                </div>
                <div class="tool">
                    <input id="grid-tool" type="checkbox" v-model="drawGrid">
                    <label for="grid-tool" v-bind:title="lang.grid[language]"></label>
                </div>
            </div>

        </div>
        <div id="canvas"></div>
        <div id="palette">
            <div id="colorPicker">
                <input type="color" v-model="baseColor">
                <div id="alpha">
                    {{ lang.a[language] }} : <input type="number" min="0" max="255" step="1" v-model="alpha">
                </div><input type="range" min="0" max="255" step="1" v-model="alpha">

                <div id="colorPreview"> <span> {{color}} </span> <span id="colorPreviewPatch"> </span> </div>
            </div>
            <div id="currentColors">

                <div v-for="(color, index) in currentColors" v-bind:title="color"
                    :style="{'box-shadow': 'inset 0 0 0 1000px ' + color}" v-on:click="setColor(color)">
                </div>

            </div>
            <div id="savedColors">
                <div v-for="(color, index) in savedColors" v-bind:title="color"
                    :style="{'box-shadow': 'inset 0 0 0 1000px ' + color}" v-on:click="setColor(color)">

                    <div class="remove" v-on:click="removeColor(index)">&times;</div>
                </div>
                <div v-on:click="saveColor" v-bind:title="lang.savecolor[language]"> +
                </div>
            </div>

        </div>
        <div id="resize" :style="{'display': displayResize?'block':'none'}">

            <div> <span>{{ lang.width[language] }}</span> : <input type="number" min="1" v-model="nextWidth"> </div>
            <div> <span>{{ lang.height[language] }}</span> : <input type="number" min="1" v-model="nextHeight"> </div>

            <div>
                <button v-on:click="displayResize=false"> {{ lang.ko[language] }} </button>
                <button v-on:click="displayResize=false; resize()"> {{ lang.ok[language] }} </button>
            </div>
        </div>
        <div id="files" :style="{'display': displayFiles?'flex':'none'}">

            <div> <input type="file" v-on:change="fileChange"> </div>

            <button v-on:click="download"> {{ lang.download[language] }} </button>
            <button v-on:click="displayFiles=false"> {{ lang.close[language] }} </button>
        </div>

        <div id="flags">

            <div class="flag" id="french" v-bind:current="language==='fr'" v-on:click="language='fr'"></div>
            <div class="flag" id="uk" v-bind:current="language==='en'" v-on:click="language='en'"></div>
            <div class="flag" id="tokipona" v-bind:current="language==='tokipona'" v-on:click="language='tokipona'">
            </div>

        </div>
    </div>

</body>

</html>